body {
    background-color: #F9FAF0;
}

.grid {
    margin-bottom: 2.8em;
}

h2 {
    text-justify: center;
    text-align: center;
    padding: 15px 15px 0 15px;
    margin: 25px;

}

#reset {
    margin-bottom: 25px;
}


td {
    border: solid 1px #F9FAF0;
    width:16em;
    padding:20px;
    margin: 20px;
    font-weight:normal;
    height: 6em;
    background:  #BBC893;
    text-align: center;
    text-justify: center;
}

.cell {
    color: #F9FAF0;
    font-weight: 600;
    cursor: pointer;
    font-size: 1.5em;
    
    
}

.jokeContent {
    color: #2f3e46;
    font-size: 0.5em;
}

hr {
    border: solid 1px #BBC893;
}

p {
    text-align: center;
    font-size: 0.8em;
}
